In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [3]:
# If extracted already
df = pd.read_csv("/content/Dataset of Diabetes .csv")

# View first few rows
df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [4]:
df.isnull().sum()

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [6]:
df.drop(['ID','No_Pation'],axis=1,inplace=True)

In [7]:
df['Gender']=df['Gender'].map({'M':1,'F':0})

In [8]:
df['CLASS'].unique()

array(['N', 'N ', 'P', 'Y', 'Y '], dtype=object)

In [9]:
df['CLASS'] = df['CLASS'].map({'N':0, 'Y':1, 'P':1})

In [11]:
def remove_outliers_iqr(df, col):
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1

    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR

    return df[(df[col] >= lower) & (df[col] <= upper)]


num_cols = ['AGE','Urea','Cr','HbA1c','Chol','TG','HDL','LDL','VLDL','BMI']

# keep original
df_clean = df.copy()

print("Initial shape:", df_clean.shape)

for col in num_cols:
    before = df_clean.shape[0]
    df_clean = remove_outliers_iqr(df_clean, col)
    after = df_clean.shape[0]
    print(f"{col}: removed {before - after} rows")

print("Final shape:", df_clean.shape)
df_clean.head()
df_clean.describe()

Initial shape: (678, 12)
AGE: removed 19 rows
Urea: removed 11 rows
Cr: removed 0 rows
HbA1c: removed 0 rows
Chol: removed 3 rows
TG: removed 5 rows
HDL: removed 0 rows
LDL: removed 0 rows
VLDL: removed 0 rows
BMI: removed 0 rows
Final shape: (640, 12)

,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
count,639.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,640.000000,639.000000
mean,0.543036,55.139063,4.495938,57.698437,8.459469,4.769687,2.100937,1.109969,2.569359,0.990625,29.627500,0.926448
std,0.498535,5.075120,1.379908,16.934967,2.492399,1.084874,0.958464,0.318731,0.991912,0.445502,4.503374,0.261246
min,0.000000,42.000000,1.100000,22.000000,2.000000,2.000000,0.300000,0.400000,0.600000,0.100000,19.000000,0.000000
25%,0.000000,52.000000,3.500000,45.000000,6.800000,4.075000,1.400000,0.900000,1.800000,0.700000,26.000000,1.000000
50%,1.000000,55.000000,4.400000,56.000000,8.200000,4.800000,2.000000,1.100000,2.500000,0.900000,30.000000,1.000000
75%,1.000000,59.000000,5.400000,70.000000,10.200000,5.500000,2.600000,1.300000,3.300000,1.300000,33.000000,1.000000
max,1.000000,69.000000,8.200000,106.000000,14.800000,7.500000,4.600000,1.900000,5.500000,2.100000,39.000000,1.000000

In [12]:
from sklearn.preprocessing import MinMaxScaler

# numeric columns to scale
num_cols = ['AGE','Urea','Cr','HbA1c','Chol','TG','HDL','LDL','VLDL','BMI']

scaler = MinMaxScaler()

df_clean[num_cols] = scaler.fit_transform(df_clean[num_cols])

df_clean.head()

,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
5,0.0,0.111111,0.169014,0.023810,0.156250,0.163636,0.162791,0.400000,0.183673,0.15,0.10,0.0
6,0.0,0.296296,0.126761,0.333333,0.156250,0.290909,0.232558,0.333333,0.306122,0.25,0.25,0.0
7,1.0,0.222222,0.507042,0.297619,0.156250,0.163636,0.116279,0.333333,0.204082,0.15,0.25,0.0
13,0.0,0.111111,0.492958,0.380952,0.242188,0.400000,0.325581,0.533333,0.326531,0.35,0.20,0.0
14,0.0,0.296296,0.338028,0.202381,0.156250,0.363636,0.279070,0.533333,0.326531,0.30,0.25,0.0

In [13]:
from sklearn.preprocessing import StandardScaler

# numeric columns to scale
num_cols = ['AGE','Urea','Cr','HbA1c','Chol','TG','HDL','LDL','VLDL','BMI']

scaler = StandardScaler()

df_clean[num_cols] = scaler.fit_transform(df_clean[num_cols])

df_clean.head()

,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
5,0.0,-1.999360,-1.592610,-1.991430,-1.790627,-1.724763,-1.149546,-0.345290,-1.078922,-1.326788,-1.917284,0.0
6,0.0,-1.013391,-1.810186,-0.454944,-1.790627,-1.079022,-0.836301,-0.659279,-0.473557,-0.877505,-1.250596,0.0
7,1.0,-1.407779,0.147997,-0.632231,-1.790627,-1.724763,-1.358377,-0.659279,-0.978028,-1.326788,-1.250596,0.0
13,0.0,-1.999360,0.075472,-0.218561,-1.348940,-0.525529,-0.418640,0.282688,-0.372662,-0.428223,-1.472825,0.0
14,0.0,-1.013391,-0.722306,-1.104996,-1.790627,-0.710027,-0.627470,0.282688,-0.372662,-0.652864,-1.250596,0.0